{% extends "base.html" %}
{% block title %}Lista de Cliente{% endblock title %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Lista de Cliente</h1>
<table class="table-auto w-full bg-white shadow rounded">
    <tr class="table-auto w-full bg-white shadow rounded">
        <th>Nome do Cliente</th>
        <th>Número</th>
        <th>Tipo de mídia enviada</th>
        <th>Status da mensagem</th>
        <th>Data de envio</th>
        <th>Ações</th>
    </tr>
    {% for l in list %}
        <tr class="text-center">
            <td>{{l.nome_cliente}}</td>
            <td>{{l.numero_cliente}}</td>
            <td>{{l.tipo_midia}}</td>
            <td>{{l.status}}</td>
            <td>{{l.data_envio}}</td>
            <td>
                <a href="{% url 'relatorios:detail' r.id %}" class="bg-yellow-500 text-white px-2 py-1 rounded">Visualizar</a>
                <a href="{% url 'relatorios:editar_relatorio' r.id %}" class="bg-yellow-500 text-white px-2 py-1  rounded">Editar</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}

